body {
  color: #2d3339;
  font-family: "Varela Round";
  text-align: center;
  background: #edeff0;
  font-size: 16px;
}

a {
  color: #3f8abf;
  text-decoration: none;
}

a:hover {
  color: #65a1cc;
}

.contacts {
  display: inline;
}

.list {
  background: #fff;
  width: 80%;
  margin: 80px auto 0;
  border-bottom: 20px solid #5a6772;
  text-align: left;
  margin-bottom: 40px;
}

.list .item {
  border-bottom: 2px solid #edeff0;
  padding: 17px 0 18px 17px;
}

.list .item label {
  padding-left: 5px;
  cursor: pointer;
}

.list .item .editing-label {
  margin-left: 5px;
  font-family: "Varela Round";
  border-radius: 2px;
  border: 2px solid #a7b9c4;
  font-size: 16px;
  padding: 15px 0 15px 10px;
  /*width: 60%; */
}

.list .item .actions .delete {
  color: #ed5a5a;
  margin-left: 10px;
}

.list .item .actions .save {
  margin-left: 10px;
}

.list .item .actions .delete:hover {
  color: #f28888;
}

.list .edited label:after {
  content: " edited";
  text-transform: uppercase;
  color: #a7b9c4;
  font-size: 14px;
  padding-left: 5px;
}

.list .completed label {
  color: #a7b9c4;
  text-decoration: line-through;
}

.list .add {
  padding: 25px 0 27px 25px;
}

input.form-control {
  margin-bottom: 5px;
  display: block;
  font-family: "Varela Round";
  border-radius: 2px;
  border: 2px solid #a7b9c4;
  font-size: 16px;
  padding: 15px 0 15px 10px;
  width: 60%;
}

.favorite {
  display: inline;
  margin: 0 auto;
  position: relative;
}

.button {
  cursor: pointer;
  padding: 10px 12px 8px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  color: #aaa;
  transition: .2s;
}

.button:hover {
  color: #666;
}

.button:before {
  font-family: fontawesome;
  content: '\f004';
  font-style: normal;
}

.button.press{
  animation: size .4s;
  color: #e23b3b;
}

@keyframes fade {
  0% {
    color: #transparent;
  }
  50% {
    color: #e23b3b;
  }
  100% {
    color: #transparent;
  }
}

@keyframes size {
  0% {
    padding: 10px 12px 8px;
  }
  50% {
    padding: 14px 16px 12px;
    margin-top: -4px;
  }
  100% {
    padding: 10px 12px 8px;
  }
}

@media screen and (min-width: 500px) {
  .list {
    min-width: 500px;
  }

  .list .item .actions {
    float: right;
    margin-right: 20px;
  }

  .list .item.editing-item .actions {
    margin-top: -34px;
  }
}

@media screen and (max-width: 740px) {
  .list .item.editing-item .actions {
    float: left;
    margin-top: 0px;
    margin-left: 6px;
  }
}

@media screen and (max-width: 500px) {
  .list {
    text-align: center;
  }

  .add {
    text-align: center;
  }

  input.createInput {
    margin: auto;
  }

  .list .item .actions {
    text-align: center;
  }

  .list .item .editing-label {
    margin-bottom: 5px
  }

  .list .item.editing-item .actions {
    float: none;
  }

  label {
    margin-top: 5px;
    text-align: left;
  }

  button {
    margin-top: 5px;
  }
}
